<ion-view view-title="About">
	

	<ion-content>

		<div class="list card">

		  <div class="item item-avatar">
		    <img src="../img/ionic.png">
		    <h3>Amharic Lyrics Application</h3>
		    <p>Sing to him, sing praises to him</p><p>Psalm 105:2</p>
		  </div>

		  <div class="item item-image">
		    <img src="../img/me.jpg">
		  </div>

		  <a class="item item-icon-left positive" href="#">
		    <i class="icon ion-music-note"></i>
		    Wuletaw Wonte
		    <p>I am working as a System administrator at Arbaminch university. </p>
		  </a>
		</div>
	</ion-content>

</ion-view>
