<ion-view view-title="መዝሙሮች">
  
  <div class="bar bar-subheader item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder=" ፈልግ">
    </label>
  </div>

  <ion-content class="has-subheader">
  	<ion-list>
  		<div ng-repeat="alist in songs | filter: query">
        <ion-item href="#/app/artists/{{alist.which_album}}/{{alist.song_id}}">
   	  		<p>{{ alist.song_title }}</p>
     		</ion-item> 
  	  </div>
    </ion-list>
  </ion-content>


</ion-view>